@charset "UTF-8";
.profile { width: 200px; }
.img {
	display:block; 
	width:100px;  
	height:105px; 
	line-height:105px; 
	margin-left:30px; 
	margin-bottom:10px; 
	border:2px solid #ddd; 
	background:url('../images/icon-camera.png') no-repeat center; 
	background-size:70px 50px; 
	overflow:hidden;
}        
.img img { width:100%; }

.file {
	display:block; 
	width:104px; 
	height:30px; 
}        
.file input {
	width:104px; 
	height:30px; 
	overflow:hidden; 
	/*  파일 선택 버튼 숨기기 */
	text-indent:-5000px; 
	cursor:pointer; 
	/*  선택된 파일 정보 숨기기*/
	color:transparent; 
}

.txt-photo {
	margin: 10px 30px;
	background-repeat:no-repeat;
	background-position:center;
	background-image:url('../images/txt-photo.png');
	background-color:#00528c;
	border:1px solid #092b68;
}

.center {
	text-align: center;
}